  
.header {
    width: 100%;
    padding:20px;
    font-size: 1.8rem;
    color: rgb(190, 203, 212);
    margin-bottom: 10px;
    background-color:#B43757;
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }